
    <h1>{{FirstHeader}}</h1>
    <p>{{Para}}</p>
    <h1>{{SecondHeader}}</h1>

    <form name="personForm" method="post" action="/form">

        <div class="row form-group">
            <div class="col-sm-3">
                <select id="title" name="title" ng-model="title" required>
                    <option value="" disabled selected>Title*</option>
                    <option value="Mr">Mr.</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs.</option>
                </select>


                <span style="color:red" ng-show="personForm.title.$dirty && personForm.title.$invalid">
                    <span ng-show="personForm.title.$error.required">Title is required.</span>
                </span>
            </div>
            <div class="col-sm-3">
                <input name="firstname" type="text" placeholder="First Name*" ng-model="firstName" required>
                <span style="color:red" ng-show="personForm.firstname.$dirty && personForm.firstname.$invalid">
                    <span ng-show="personForm.firstname.$error.required">First Name is required.</span>
                </span>
            </div>
            <div class="col-sm-3">
                <input name="middlename" type="text" placeholder="Middle Initial" ng-model="middleName">
            </div>
            <div class="col-sm-3">
                <input name="lastname" type="text" placeholder="Last Name*" ng-model="lastName" required>
                <span style="color:red" ng-show="personForm.lastname.$dirty && personForm.lastname.$invalid">
                    <span ng-show="personForm.lastname.$error.required">Last Name is required.</span>
                </span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="row form-group">
                    <div class="col-xs-10">
                        <input name="email" type="email" placeholder="Email address*" ng-model="email" length="200" required>
                    </div>
                    <div class="col-xs-2">
                        <a href="#" target="_blank"><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>


                <span style="color:red" ng-show="personForm.email.$dirty && personForm.email.$invalid">
                    <span ng-show="personForm.email.$error.required">Email is required.</span>
                    <span ng-show="personForm.email.$error.email">Invalid email address.</span>
                </span>
            </div>
            <div class="col-sm-4">
                <input name="dob" type="text" placeholder="Date of Birth*" ng-model="dob" required>
                <span style="color:red" ng-show="personForm.dob.$dirty && personForm.dob.$invalid">
                    <span ng-show="personForm.dob.$error.required">Date of Birth is required.</span>

                </span>
            </div>
            <div class="col-sm-4">
                <div class="row form-group">
                    <div class="col-xs-10">
                        <input name="sin" type="number" placeholder="Social Insurance Number*" ng-model="sin" required>
                    </div>
                    <div class="col-xs-2">
                        <a href="#" target="_blank"><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>



                <span style="color:red" ng-show="personForm.sin.$dirty && personForm.sin.$invalid">
                    <span ng-show="personForm.sin.$error.required">Social Insurance Number is required.</span>
                </span>

            </div>


        </div>
        <div class="row form-group">
            <!--<div class="col-xs-9">
            </div>-->

            <div class="col-xs-offset-5 col-sm-offset-9 pull-right">
                <button class="btn btn-warning" ng-click="reset()">Cancel</button>
                <button class="btn btn-primary" ng-disabled="personForm.firstname.$dirty && personForm.firstname.$invalid || personForm.lastname.$dirty &&
                        personForm.lastname.$invalid || personForm.email.$dirty &&
                        personForm.email.$invalid ||personForm.title.$dirty && personForm.title.$invalid
                                            ||personForm.dob.$dirty && personForm.dob.$invalid
                                            ||personForm.sin.$dirty && personForm.sin.$invalid  "
                        ng-click="submit()">
                    Submit
                </button>
            </div>


        </div>



    </form>
