<div class="td-site">
    
        <div class="aside-2" id="layout-wrapper">
            <div class="navbar-wrapper">
                <div class="navbar yamm navbar-default navbar-fixed-top">
                    <div id="layout-navigation" class="group">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/" class="navbar-brand"><img src="/images/td.gif" class="img-resize img-align" alt="td" /></a>
                            <a href="/" class="navbar-brand">TD Insurance</a>
                        </div>
                        <!--<a href="/" class="navbar-brand">Login</a>-->
                        <div class="navbar-collapse collapse" id="main-menu">
                            <div class="zone zone-navigation">
                                <article class="widget-navigation widget-menu-widget widget" transclude-id="menu"></article>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            
            <div class="pad-fixed-top"></div>

            <div id="layout-main-container">
                <div id="layout-main" class="group">
                    <div id="layout-content" class="group">
                        <div id="content" class="group">
                            <div class="zone zone-content">
                                <article class="page content-item">
                                    <header></header>
                                    <div class="orchard-layouts-root" transclude-id="main">

                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <aside id="aside-second" class="aside-second">
                        <div class="zone zone-aside-second">
                            <article class="widget-aside-second widget-text-widget widget">
                                <header>
                                    <h1>You are applying for</h1>

                                </header>
                                <p class="text-center">TD&#174; Travel Medical Insurance</p>

                                <button class="btn btn-primary">See More Coverage Options</button>
                            </article>
                        </div>
                    </aside>
                </div>
            </div>

            
        </div>
        <div id="layout-footer" class="group">
            <div class="footer-wrapper">
                <footer id="footer">
                    
                    <div id="footer-sig" class="group">
                        <div class="zone zone-footer">
                            <article class="widget-footer widget-layout-widget widget">
                                <div class="orchard-layouts-root">
                                    <!-- footer bottom-->
                                    <section class="footer-bottom">
                                        <div class="container text-center">
                                            <div class="row">

                                                <div class="col-sm-12 col-md-10 col-md-push-2">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h1>Need to talk to us directly? <a href="#ContactUs">Contact Us</a></h1>
                                                            
                                                        </div>

                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div>
                                                                <a href="#" title="Privacy and Security">Privacy and Security</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-2">
                                                            <div>
                                                                <a href="#" title="">Legal</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-2">
                                                            <div>
                                                                <a href="#" title="Accesibility">Accesibility</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-2">
                                                            <div>
                                                                <a href="#" title="About Us">About Us</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-2">
                                                            <div>
                                                                <a href="#" title="Careers">Careers</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            
                                                            <span class="fa-stack fa-2x">
                                                                <a href="http://facebook.com/Canada8409668" target="_blank">
                                                                    <i class="fa fa-circle-thin fa-stack-2x icon-circle-bg"></i>
                                                                    <i class="fa fa-facebook fa-stack-1x"></i>
                                                                </a>
                                                            </span>

                                                        </div>
                                                        <div class="col-xs-3">
                                                            
                                                           

                                                            <span class="fa-stack fa-2x">
                                                                <a href="http://twitter.com/Canada8409668" target="_blank">
                                                                    <i class="fa fa-circle-thin fa-stack-2x icon-circle-bg"></i>
                                                                    <i class="fa fa-twitter fa-stack-1x"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            
                                                            <span class="fa-stack fa-2x">
                                                                <a href="https://www.youtube.com/channel/UCcEaR8HfGpPwt-GqJr_h5UQ" target="_blank">
                                                                    <i class="fa fa-circle-thin fa-stack-2x icon-circle-bg"></i>
                                                                    <i class="fa fa-youtube-play fa-stack-1x"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            
                                                            <span class="fa-stack fa-2x">
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-circle-thin fa-stack-2x icon-circle-bg"></i>
                                                                    <i class="fa fa-rss fa-stack-1x"></i>
                                                                </a>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-2 col-md-pull-10">
                                                    <img src="/images/chair.png" class="img-resize" alt="chair" />
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                    <!-- End footer bottom-->


                                    

                                </div>

                            </article>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
      


   

   



</div>


